# Server Configuration
PORT=3000
NODE_ENV=development

# Frontend Configuration (Add this for your reset links)
FRONTEND_URL=http://localhost:3000

# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD= pass
DB_NAME=civicconnect

# Authentication (JWT)
JWT_SECRET=dev_secret_key_123
JWT_EXPIRES_IN=1h

# Google OAuth & Email Configuration
EMAIL_USER=civicconnect27@gmail.com
CLIENT_ID=143700641266-dbjvu58npis9nsgtlj7hjegllt2gr6rt.apps.googleusercontent.com
CLIENT_SECRET=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
REFRESH_TOKEN=1//04xR1mjsPgxWGCgYIARAAGAQSNwF-L9Ir_AGGeHyL8UOizg5l7DiDwCOd5FT_JDGkSbreAyVLqs8-aLn6kQvh5HO4Foe91LqtdaA
REDIRECT_URI=https://developers.google.com/oauthplayground
